@font-face {
    font-family: elianto;
    src: url(Elianto-Regular.otf);
}

.header{
    position: sticky;
    background-color: #1d1e22;
    top: 0;
    display: flex;
    justify-content: flex-start;
    z-index: 1000;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: elianto;
}

.hicon{
    position: relative;
    top: 5px;
    width: 2.5em;
    height: 2.5em;
}

.htext{
    user-select: none;
    color: whitesmoke;
}

.high{
    font-size: 2em;
}

.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1e22;
}

.uCount{
    color: whitesmoke;
}

.tabs{
    height: 100%;
    width: 200px;
    height: 100%;
    background-color: #98FF98;
    color: #1d1e22;
}